@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap");
@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css?family=Acme|Gamja+Flower&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css?family=Francois+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bevan&display=swap");
@import url("https://fonts.googleapis.com/css?family=Stylish&display=swap");
@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");

/* Gris     #303841
Celeste     #00adb5
crema       #eeeeee
orange      #ff5723 */
body {
    margin: 0;
    background: #fefaec;
}

a:link {
    text-decoration: none;
    color: black;
}

/* a:active {
    color: black;
} */

a:visited {
    color: black;
}

/* ///////////////////////////////// Wrapper login and register masks */

.cookiesAgeCheckbox {
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: baseline;
    margin: 0;
}

.cookiesAgeCheckbox p {
    margin: 0;
}

.checkbox {
    margin: 15px;
}

.wrapperCont {
    display: inline-flex;
    height: 100vh;
    align-items: center;
    background: #364e6bc2;
    margin: 0;
}

.wrapperLogo {
    width: 50vw;
    height: auto;
}

.registLoginMasks {
    width: 50vw;
    height: auto;
}

/* ///////////////////////////////// Main logo for register and login masks */

.mainLogo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.textLogo {
    font-family: "Special Elite", cursive;
    font-size: 60px;
    letter-spacing: 4px;
    height: auto;
    /* width: 500px; */
    margin: 0;
}
#gang {
    text-align: right;
}

#pawLogo {
    width: 300px;
    height: 300px;
    margin: 25px;
}

/* //////////////////////////////////////// Login and registration masks */

.formBody {
    margin-left: 120px;
}

.formElement {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 250px;
    margin: 10px;
}

.label {
    width: 100px;
    font-family: "Noto Sans HK", sans-serif;
}

.formField {
    background: #d5d7da;
    width: 180px;
    border: transparent;
    border-radius: 5px;
    height: 25px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.submitButton {
    font-family: "Noto Sans HK", sans-serif;
    font-weight: bolder;
    height: auto;
    width: 80px;
    margin: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border: transparent;
}

.loginLink {
    font-family: "Noto Sans HK", sans-serif;
    margin: 5px;
    text-decoration: none;
}

.errorMsg {
    color: red;
    font-family: "Arial";
    font-style: oblique;
    margin: 0;
    padding: 0;
}

/* ////////////////////////////////////////////// Header */

.headerContainer {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    background: #303841;
    width: 100vw;
    height: 135px;
    overflow: hidden;
}

.headerLogo {
    margin-left: 10px;
    margin-top: 5px;
    height: 140px;
}

.textHeaderLogo {
    margin: 5px;
    width: auto;
    text-align: center;
    font-family: "Special Elite", cursive;
    font-weight: bolder;
    color: #eeeeee;
    letter-spacing: 2px;
}

#hopHeaderLogo {
    height: 70px;
    width: 70px;
    margin-left: 5px;
    border-radius: 50%;
    background: #eeeeee;
}

.headerPicContainer {
    margin-right: 10px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.menuContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.menuHeader {
    font-family: "Francois One", sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: #eeeeee;
    height: auto;
    margin: 30px;

    letter-spacing: 2px;
}

.headerPic {
    height: 100px;
    width: 100px;
    border: transparent;
    border-radius: 50%;
}

.headerMessage {
    font-family: "Special Elite", cursive;
    margin: 5px;
    width: auto;
    height: auto;
    text-align: right;
    font-weight: bolder;
    color: #eeeeee;
    letter-spacing: 2px;
}

/* /////////////////////////////////////////// Profile  */

.profileContainer {
    background: #00adb5;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
    width: 100vw;
    height: auto;
    min-height: 81vh;
}

.profilePicContainer {
    width: 270px;
    min-height: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ff5723;
    border: transparent;
    border-radius: 10px;
    margin-top: 29px;
}

.otherProf {
    margin-top: 52px;
    background: #535d69;
}

.profilePic {
    width: 200px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 25px;
    border-radius: 5px;
}

.nameBeerPic {
    font-family: "Stylish", sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
    margin-top: 15px;
    text-align: center;
    width: 230px;
    margin-bottom: 0;
}

.nameProfPic {
    font-family: "Special Elite", cursive;
    font-size: 20px;
    margin: 10px;
}

.nameProf {
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: 25px;
}

/* /////////////////////////////////////// Search other profiles */

.searchArea {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.searchLabel {
    width: 175px;
    font-family: "Noto Sans HK", sans-serif;
}

.searchFormField {
    background: #e1f9f6;
    width: 200px;
    border: transparent;
    border-radius: 5px;
    height: 25px;
    margin: 30px;
}

.searchResults {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: flex-start;
}

.searchProfilePicContainer {
    width: 27vw;
    min-height: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f38181;
    border: transparent;
    border-radius: 10px;
    margin-left: 60px;
    margin-bottom: 50px;
}

.searchNameProfPic {
    font-family: "Acme", sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
    margin-top: 15px;
}

/* ////////////////////////////////////////    Chat windows */

.onlineTitle {
    font-family: "Luckiest Guy", cursive;
    text-align: center;
    font-size: 25px;
    color: #f38181;
}

.dot {
    height: 95px;
    width: 95px;
    background-color: greenyellow;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.onlineUsers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 27vw;
    overflow-y: scroll;
}

.onlineUser {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.onlineProfilePic {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.onlineName {
    font-family: "Acme", sans-serif;
    font-size: 25px;
    margin-left: 15px;
}

.chatsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 75vh;
    width: 100vw;
}

.chatWindow {
    margin: 0;
    overflow-y: scroll;
    /* position: fixed; */
    /* right: 10%;
    top: 42%; */
    background: #a9eee682;
    background-size: 100%;
    height: 100%;
    border: transparent;
    border-radius: 5px;
    width: 40vw;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chatWindow2 {
    margin-top: 10px;
}

.noChatMsg {
    font-family: "Luckiest Guy", cursive;
    text-align: center;
    font-size: 25px;
    color: black;
}

.privChats {
    width: 34vw;
    background: #f38181a1;
    margin-top: 0;
}

.privChatWindow {
    margin: 0;
    margin-top: 10px;
    overflow-y: scroll;
    position: fixed;
    /* right: 10%;
    top: 42%; */
    background: #f38181a1;
    background-size: 100%;
    height: 75%;
    border: transparent;
    border-radius: 5px;
    width: 34vw;
    z-index: 50;
}

.chatPicName {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.chatProfilePic {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 15px;
}

.chatName {
    margin: 0;
    margin-left: 10px;
    font-family: "Acme", sans-serif;
}

.chatText {
    font-family: "Noto Sans HK", sans-serif;
    margin: 10px;
}

.chatDate {
    font-family: "Noto Sans HK", sans-serif;
    font-size: 10px;
    font-weight: bolder;
    font-style: italic;
    text-align: right;
    margin: 10px;
}

.chatInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.chatTextArea {
    border-radius: 5px;
    border: transparent;
    margin: 15px;
    width: 60%;
    font-family: "Noto Sans HK", sans-serif;
    margin: 10px;
}
.boxUploader {
    width: 370px;
    height: 160px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: #ff5723;
    border: transparent;
    border-radius: 10px;
    font-family: "Noto Sans HK", sans-serif;
}

.boxUploader h3 {
    margin-top: 0;
}

#closeUploader {
    margin: 0;
    margin-right: 20px;
    align-self: flex-end;
}

.

/* ////////////////////////////////////// Profile buttons */

.editAddBioButton {
    font-family: "Noto Sans HK", sans-serif;
    font-weight: bolder;
    height: 25px;
    width: 80px;
    margin: 5px;
    margin-bottom: 25px;
    background: #f38181;
    border-radius: 5px;
    border: transparent;
}

.deleteLogContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#deleteProfButton {
    width: 100px;
    font-family: "Noto Sans HK", sans-serif;
    font-weight: bolder;
    height: 25px;
    background: #ff5723;
    margin: 5px;
    border-radius: 5px;
    border: transparent;
}

#logoutProfButton {
    width: 100px;
    font-family: "Noto Sans HK", sans-serif;
    font-weight: bolder;
    height: 25px;
    background: #ff5723;
    margin: 5px;
    border-radius: 5px;
    border: transparent;
}

.addBeerButton {
    width: 106px;
    font-family: "Noto Sans HK", sans-serif;
    font-weight: bolder;
    height: 41px;
    background: #f3805d;
    margin: 5px;
    margin-top: 31px;
    border-radius: 5px;
    border: transparent;
}

/* /////////////////////////////////////// Uploader popup */

.overlay {
    margin: 0;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-size: 100%;
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    z-index: 50;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cookiesBox {
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: #ff5723;
    border: transparent;
    border-radius: 10px;
    font-family: "Noto Sans HK", sans-serif;
}

#closeUploader {
    margin: 0;
    margin-right: 20px;
    align-self: flex-end;
}

.acceptCookies {
    margin-top: 20px;
}

/* /////////////////////////////////// People finder page */

.findBeerContainer {
    background: #00adb5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 81vh;
}

/* ///////////////////////////////////// Beer Cellar and Search */

.beerCellarTitle {
    font-family: "Bevan", cursive;
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    color: #303841;
    margin: 20px;
}

.beerCellarTitleSearch {
    margin: 5px;
}

.friendsButtonContainer {
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.friendsPageButton {
    background: #a9eee6;
}

.acceptedFriendProfile {
    background: #a9eee6;
    display: flex;
}

.acceptedFriendButton {
    background: #f38181;
}

.searchMatches {
    z-index: 40;
    background: pink;
    overflow-y: scroll;
    position: fixed;
    left: 67.2%;
    top: 47.5%;
}

.searchMatches p:hover {
    background: grey;
}

.beerCellarContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 65vw;
    height: auto;
    min-height: 77vh;
    margin-right: 20px;
    margin-top: 10px;
    border: transparent;
    border-radius: 5px;
    background: #eeeeee66;
}

.beerCellar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    width: 100%;
}

.beerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 0;
}

.beerPicAndName {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.beerPic {
    width: 80px;
    height: auto;
}

.noBeersMsg {
    margin-bottom: 220px;
    font-family: "Special Elite", cursive;
    font-size: 35px;
    color: #303841;
}

.tagBeerPic {
    font-family: "Noto Sans HK", sans-serif;
    width: 230px;
    text-align: center;
}

/* ///////////////////////////////// Beer Profile */

.beerProfPic {
    width: 115px;
    height: auto;
    margin-top: 20px;
}

.beerProfileContainer {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    background: #00adb5;
    margin: 0;
    width: 100vw;
    min-height: 81vh;
    overflow: hidden;
}

.beerOverview {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0px;
}

.tagBeerProf {
    font-family: "Noto Sans HK", sans-serif;
    font-size: 20px;
    width: 200px;
    text-align: center;
}

.ingredientsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.ingredientsTitle {
    font-family: "Bevan", cursive;
    font-size: 25px;
    letter-spacing: 1px;
    color: #eeeeee;
    margin-bottom: 10px;
}

.beerIngredients {
    border: transparent;
    border-radius: 5px;
    background: #eeeeeea1;
    width: 231px;
    height: auto;
    min-height: 450px;
    font-family: "Satisfy", cursive;
    font-size: 20px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.beerIngredients h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.beerIngredients p {
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 5px;
}

.beerDescription {
    width: 53%;
    height: auto;
}

.nameBeerProfBeer {
    font-family: "Bevan", cursive;
    font-size: 35px;
    letter-spacing: 1px;
    color: #ff5723;
    margin-bottom: 10px;
    margin-top: 10px;
    text-shadow: 1px 1px 1px #303841;
    width: 100%;
    text-align: center;
}

.beerDescText {
    width: 600px;
    height: auto;
    border: transparent;
    border-radius: 5px;
    background: #ff9372de;
    padding: 25px;
    font-family: "Special Elite", cursive;
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 5px;
    line-height: 1.6;
}

.beerCharact {
    font-family: "Bevan", cursive;
    font-size: 15px;
    letter-spacing: 1px;
    color: #25292d;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.beerCharact p {
    margin: 0;
}

.beerCharactScale {
    font-size: 25px;
}

.beerAttibute {
    margin: 10px;
    width: 100%;
}

.foodPairing {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 92%;
}

.foodPairingInside {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.tittleFoodPairing {
    font-family: "Gloria Hallelujah", cursive;
    font-size: 23px;
    margin: 0;
    margin-right: 30px;
    letter-spacing: 1px;
    text-align: center;
    color: #eeeeee;
}

.foodPairingItem {
    color: #00adb5;
    font-family: "Gloria Hallelujah", cursive;
    font-size: 15px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: #eeeeee;
    border: transparent;
    border-radius: 5px;
    width: 89%;
}

.beerButtonProf {
    margin-left: 50px;
}
